html {
	background: url(../img/memphis-colorful.png);
}
h1 {
	color: #ff0000;
	text-transform: uppercase;;
}

figcaption{
	color: #483d8b;
} 

section {
	font-family: 'Roboto', sans-serif;
	font-size: 12px;
	margin-left: 5%;
}

a {
	text-decoration: none;
	text-transform: uppercase;
}
li{
	list-style-type: none;
}